.App {
  font-family: sans-serif;
  max-width: 500px;
  margin-left: 100px;
}

.bulb-off,
.bulb-on {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: 100px;
  display: inline-block;
}

.bulb-off:last-of-type,
.bulb-on:last-of-type {
  margin-right: 100%;
}

.bulb-off {
  background-image: url("broken-heart-broken-heart-svgrepo-com.svg");
}

.bulb-on {
  background-image: url("heart-svgrepo-com.svg");
}

button {
  margin-top: 20px;
  margin-left: 10px;
}
